page-home {
  ion-content {
    background: url(../assets/imgs/136.jpg) no-repeat center fixed;
    background-size: cover;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(to bottom right, #ff78bb, #b2497d);
      opacity: 0.3;
    }
  }

  .date {
    font-weight: bold;
    color: #e55ea2;
    padding-right: 24px;
    font-size: 0.8em;
  }
  .label.label-md {
    color: #b2497d;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}
.toolbar.toolbar-md {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
